body{
    background-color:black;
}
.hlo img{
    width: 260px;
    height: 250px;
}
.dude img{
    width: 660px;
    height: 500px;
}
.machi img{
    width: 440px;
    height: 300px;
}
.h{
    width: 25px;
    height: 15px;
}